USE [PRNProject]
GO
/****** Object:  Table [dbo].[InspectionAppointments]    Script Date: 7/23/2025 11:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectionAppointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[StationID] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InspectionRecords]    Script Date: 7/23/2025 11:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectionRecords](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[StationID] [int] NOT NULL,
	[InspectorID] [int] NOT NULL,
	[InspectionDate] [datetime] NULL,
	[Result] [varchar](10) NOT NULL,
	[CO2Emission] [decimal](5, 2) NOT NULL,
	[HCEmission] [decimal](5, 2) NOT NULL,
	[Comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InspectionStations]    Script Date: 7/23/2025 11:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InspectionStations](
	[StationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [varchar](15) NOT NULL,
	[Email] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 7/23/2025 11:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Action] [varchar](100) NOT NULL,
	[Timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/23/2025 11:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Message] [nvarchar](100) NULL,
	[SentDate] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/23/2025 11:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/23/2025 11:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[RoleID] [int] NULL,
	[ResetPasswordToken] [nvarchar](255) NULL,
	[TokenExpiry] [datetime] NULL,
	[StationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 7/23/2025 11:08:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[OwnerID] [int] NOT NULL,
	[PlateNumber] [varchar](15) NOT NULL,
	[Brand] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[ManufactureYear] [int] NOT NULL,
	[EngineNumber] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InspectionStations] ON 

INSERT [dbo].[InspectionStations] ([StationID], [Name], [Address], [Phone], [Email]) VALUES (1, N'Hoà Lạc', N'Xã Thạch Thất, Hà Nội', N'0968987122', N'12123@gmail.com')
INSERT [dbo].[InspectionStations] ([StationID], [Name], [Address], [Phone], [Email]) VALUES (2, N'Hà Đông', N'Phường Hà Đông, Hà Nội', N'0968912122', N'312')
INSERT [dbo].[InspectionStations] ([StationID], [Name], [Address], [Phone], [Email]) VALUES (3, N'Đông Anh', N'Xã Đông Anh, Hà Nội', N'0968967122', N'324')
SET IDENTITY_INSERT [dbo].[InspectionStations] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'VehicleOwner')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Worker')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'InspectionCenter')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [RoleID], [ResetPasswordToken], [TokenExpiry], [StationID]) VALUES (18, N'Admin', N'Admin@gmail.com', N'1', N'0966882172', N'xã Hoà Lạc, Thạch Thất', 5, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [RoleID], [ResetPasswordToken], [TokenExpiry], [StationID]) VALUES (19, N'Công Nhân', N'congnhan@gmail.com', N'1', N'0977331823', N'xã Quốc Oai, Hà Nội', 2, NULL, NULL, 1)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [Phone], [Address], [RoleID], [ResetPasswordToken], [TokenExpiry], [StationID]) VALUES (21, N'Công Nhân 2', N'congnhan2@gmail.com', N'1', N'0973182193', N'xã Đan Phượng', 2, NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Inspecti__A9D105346121600F]    Script Date: 7/23/2025 11:08:30 PM ******/
ALTER TABLE [dbo].[InspectionStations] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053432B1CC2D]    Script Date: 7/23/2025 11:08:30 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicles__036926241E377344]    Script Date: 7/23/2025 11:08:30 PM ******/
ALTER TABLE [dbo].[Vehicles] ADD UNIQUE NONCLUSTERED 
(
	[PlateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InspectionAppointments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[InspectionRecords] ADD  DEFAULT (getdate()) FOR [InspectionDate]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[InspectionAppointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Station] FOREIGN KEY([StationID])
REFERENCES [dbo].[InspectionStations] ([StationID])
GO
ALTER TABLE [dbo].[InspectionAppointments] CHECK CONSTRAINT [FK_Appointment_Station]
GO
ALTER TABLE [dbo].[InspectionAppointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InspectionAppointments] CHECK CONSTRAINT [FK_Appointment_User]
GO
ALTER TABLE [dbo].[InspectionAppointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Vehicle] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[InspectionAppointments] CHECK CONSTRAINT [FK_Appointment_Vehicle]
GO
ALTER TABLE [dbo].[InspectionRecords]  WITH CHECK ADD FOREIGN KEY([InspectorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InspectionRecords]  WITH CHECK ADD FOREIGN KEY([StationID])
REFERENCES [dbo].[InspectionStations] ([StationID])
GO
ALTER TABLE [dbo].[InspectionRecords]  WITH CHECK ADD FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Station] FOREIGN KEY([StationID])
REFERENCES [dbo].[InspectionStations] ([StationID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Station]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InspectionRecords]  WITH CHECK ADD CHECK  (([Result]='Fail' OR [Result]='Pass'))
GO
